<p style="color: green"><%= notice %></p>

<% content_for :title, "Notes" %>

<div class="container">
  <h1>Notes</h1>

  <%= turbo_frame_tag "notes" do %>
    <div id="notes_list" class="notes-list">
      <% @notes.each do |note| %>
        <%= render note %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to "New note", new_note_path, "data-turbo-frame": "note_form", class: "btn btn-primary" %>
  </div>

  <%= turbo_frame_tag "note_form" %>
</div>