<div class="container">
  <p class="notice"><%= notice %></p>

  <%= render @note %>

  <div class="actions">
    <%= link_to "Edit this note", edit_note_path(@note), "data-turbo-frame": "note_form", class: "btn btn-secondary" %>
    <%= link_to "Back to notes", notes_path, "data-turbo-frame": "notes", class: "btn btn-secondary" %>
    <%= button_to "Destroy this note", @note, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>